*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}
header{
    display: flex;
    background-color: maroon;
    justify-content: center;
    height: 1/4;
}

.blueHF{
    color: blue;
}
.redHF{
    color: red;
}
.yellowHF{
    color: yellow;
}

.blue{
    color: blue;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
#header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 80%;
    margin: 15px 0px ;
}
#title{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    line-height: 35px;
    user-select: none;
}
p{
margin: 0;
}

ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}
li{
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
li:hover{
    scale: 1.2;
}
main{
    background-color:darkgrey;
    height: 520px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#title2{
    font-weight: bold;
    font-size: 90px;
}

.config{
    width: 80px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    padding: 8px;
    margin: 0px 15px;
    cursor: pointer;
}

#op1{
    background-color: blue;
}
#op1:hover{
    background-color: rgb(0, 0, 209);
}
#op2{
    background-color: red;
}
#op2:hover{
    background-color: rgb(192, 0, 0);
}
#op3{
    background-color: rgba(209, 209, 0, 0.945);
}
#op3:hover{
    background-color: rgb(196, 177, 6);
}

footer{
    background-color: maroon;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}